Specify support for Block1 and Block2

Marco Tiloca wrote:

>> "this specification mandates the implementation of CoAP option Block1 and Block2 fragmentation mechanism [RFC7959]"

> This is good, but it contradicts the text in Section 4.4 where the support of the CoAP option Block1 and Block2 is only RECOMMENDED.

As discussed in the meeting, we will replace this text with requirements similar to Section 4.6 of RFC 9148 on Block1 and Block2. 